<div style="text-align:center">
  <h1>Chart.js with Angular 8 demo</h1>
  <h2>Historic temperatures and precipitations for Subotica, RS</h2>
</div>

<div [ngStyle]="{ visibility: years.length > 0 ? 'visible' : 'hidden' }">
  Select year:
  <select id="selectYear" (change)="onChange()" [formControl]="yearSelect">
    <option *ngFor="let year of years" value="{{ year }}">{{ year }}</option>
  </select>
</div>

<div *ngIf="!data">
  <h1>Fetching data...</h1>
  <h3>(be patient, it takes about 10-15 sec)</h3>
</div>

<app-info
  *ngIf="filteredData.chartLabels.length > 0"
  [data]="filteredData"
  [year]="selectedYear"
></app-info>

<div>
  <canvas id="chart" width="1500" height="500"></canvas>
</div>
