<div style="text-align:center">
  <h1>Chart.js with Angular 8 demo</h1>
  <h2>Historic temperatures and precipitations for Subotica, RS</h2>
</div>

<app-select-year
  [ngStyle]="{ visibility: years.length > 0 ? 'visible' : 'hidden' }"
  [availableYears]="years"
  (selectEvent)="onChange($event)"
>
</app-select-year>

<div *ngIf="!data">
  <h1>Fetching data...</h1>
  <h3>(be patient, it takes about 10-15 sec)</h3>
</div>

<app-info
  [ngStyle]="{ visibility: filteredData.chartLabels.length > 0 ? 'visible' : 'hidden' }"
  [data]="filteredData"
  [year]="selectedYear"
></app-info>

<div>
  <canvas id="chart" width="1500" height="500"></canvas>
</div>
